section {
  border-style: solid;
  overflow: auto;
}

.header {
  text-align: center;
  font-size: 300%;
}

@media screen and (min-width: 1000px) {
  summary {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
  }
}

.col {
  float: left;
}

.mainBox {
   position:relative;
   border-style: solid;
}

.box {
   border-style: solid;
   position:absolute;
}

.box.higth1 {
  height: 100px;
}

.box.higth2 {
  height: 150px;
}

.box.higth3 {
  height: 200px;
}

.box.higth4 {
  height: 250px;
}